@font-face {
	font-family: 'Sohne';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/sohne/Sohne-Buch.woff2') format('woff2'),
		url('/fonts/sohne/Sohne-Buch.woff') format('woff'),
		url('/fonts/sohne/Sohne-Buch.otf') format('opentype');
}

@font-face {
	font-family: 'Sohne';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/sohne/Sohne-Kraftig.woff2') format('woff2'),
		url('/fonts/sohne/Sohne-Kraftig.woff') format('woff'),
		url('/fonts/sohne/Sohne-Kraftig.otf') format('opentype');
}

@font-face {
	font-family: 'Sohne';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/sohne/Sohne-Halbfett.woff2') format('woff2'),
		url('/fonts/sohne/Sohne-Halbfett.woff') format('woff'),
		url('/fonts/sohne/Sohne-Halbfett.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Medium.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Medium.woff') format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Medium.otf')
			format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-MediumItalic.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-MediumItalic.woff')
			format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-MediumItalic.otf')
			format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Semibold.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Semibold.woff') format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Semibold.otf')
			format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-SemiboldItalic.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-SemiboldItalic.woff')
			format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-SemiboldItalic.otf')
			format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Bold.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Bold.woff') format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Display Narrow';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-BoldItalic.woff2')
			format('woff2'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-BoldItalic.woff')
			format('woff'),
		url('/fonts/domaine-display-narrow/DomaineDisplayNarrow-BoldItalic.otf')
			format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-Regular.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-Regular.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-RegularItalic.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-RegularItalic.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-RegularItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-Medium.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-Medium.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-MediumItalic.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-MediumItalic.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-MediumItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-Bold.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-Bold.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/domaine-text/DomaineText-BoldItalic.woff2') format('woff2'),
		url('/fonts/domaine-text/DomaineText-BoldItalic.woff') format('woff'),
		url('/fonts/domaine-text/DomaineText-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Pitch';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/pitch/Pitch-SemiBold.woff2') format('woff2'),
		url('/fonts/pitch/Pitch-SemiBold.woff') format('woff'),
		url('/fonts/pitch/Pitch-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'Pitch';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/pitch/Pitch-Bold.woff2') format('woff2'),
		url('/fonts/pitch/Pitch-Bold.woff') format('woff'),
		url('/fonts/pitch/Pitch-Bold.otf') format('opentype');
}
